.scene-one,
.scene-two {
  height: 100vh;
}

.section1-trees {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  scale: 1.1;
  z-index: 5;
  fill: rgb(21 33 41);
}

.section1-mountain1 {
  isolation: isolate;
  position: fixed;
  scale: 1.5;
  transform: translateX(-25%) translateY(5%) rotate(-5deg);
  z-index: 2;
}

.section1-hills {
  isolation: isolate;
  position: fixed;
  z-index: 4;
  fill: rgb(28 40 51);
}

.section1-mountain-range {
  isolation: isolate;
  position: fixed;
  bottom: -400px;
  right: -500px;
  z-index: 3;
}

.section1-sun {
  isolation: isolate;
  position: fixed;
  width: 400px;
  height: 400px;
  background: rgb(226 188 123);
  border-radius: 50%;
  box-shadow: 0 0 100px 20px rgb(186 186 118);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section2-hills {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.section2-trees {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  bottom: -375px;
  left: 25px;
  height: 100vh;
  scale: 1.1;
  z-index: 5;
}

.section2-trees2 {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  height: 60vh;
  scale: 1.1;
  z-index: 4;
}

.section2-mountain1 {
  isolation: isolate;
  position: fixed;
  bottom: -350px;
  left: 50px;
  z-index: 2;
}

.scroll-element {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}
