.scene-one,
.scene-two {
  height: 100vh;
}

.section-trees {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  scale: 1.1;
}

.section2-trees {
  isolation: isolate;
  position: fixed;
  bottom: 0;
  height: 60vh;
  scale: 1.1;
}

.scroll-element {
  position: absolute;
  height: 6000px;
  width: 100px;
  top: 0;
  z-index: 0;
}
